footer {background-color:#292c2f;box-sizing:border-box;width:100%;text-align:left;font:bold 16px sans-serif;padding:30px 30px;bottom:0;color:#fff;}
.footer-navigation p.company-name {color:#8f9296;font-size:14px;font-weight:normal;margin-top:20px;}
.footer-navigation h3 a {text-decoration:none;color:#fff;}
.footer-navigation h3 {margin:0;font:normal 36px Cookie, cursive;margin-bottom:20px;color:#fff;}